.home-main {
  min-height: 100vh;
  background: #110b0b;

  display: flex;
  flex-direction: column;
}
/* search container */
.search-input-component {
  width: 400px;
  max-height: 300px;
  overflow: overlay;
  margin: 10px auto;
  padding: 20px;
  border-radius: 25px;
  border: 0;
  outline: 0;
  font-size: 16px;
  background: #2d2f30;
}
::-webkit-scrollbar {
  display: none;
}
.search-input-box {
  display: flex;
}
.activeHighlight {
  background: #333536 !important;
}
.search-input-box > input {
  width: 90%;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: #f2f2f2;
  background: #2d2f30;
}
.search-input-box .cancel-icon {
  padding-right: 18px;
  font-size: 17px;
  color: gray;
}
.search-input-box .search-icon {
  width: 18px;
  height: 18px;
  padding: 2px;
  font-size: 12px;
  text-align: center;
  border-radius: 12px;
  background: yellow;
}
.searched-user {
  padding: 0px 4px;
}
.searched-user:hover {
  cursor: pointer;
}
.autocomplete-box .searched-user {
  color: darkgray;
  height: 60px;
}
.autocomplete-box .searched-user > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 38px;
}
.searched-user > div > h5 {
  color: white;
}
.autocomplete-box .searched-user > p {
  margin-top: 0px;
  font-size: 12px;
}

/* loader */
.loader {
  border: 1.3px solid #f3f3f3; /* Light grey */
  border-top: 1.3px solid yellow; /* Blue */
  border-radius: 50%;
  width: 19px;
  height: 19px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* logo */
.logo {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 22vh;
}

.logo img {
  width: 200px;
}

/* to reduce search box according to size */
@media only screen and (max-width: 600px) {
  .search-input-component {
    width: 70%;
  }
}
