.person {
  min-height: 100vh;
  width: 100%;
}
.stick-top {
  margin-top: -30px;
}
.background-image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.person h1 {
  color: #ecd014;
  margin-left: 30px;
}
.person-name {
  text-align: center;
  font-size: 40px;
  color: #cccccc;
}
.text-shadow {
  text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777,
    0 4px 0 #666666, 0 5px 0 #555555, 0 6px 0 #444444, 0 7px 0 #333333,
    0 8px 7px rgba(0, 0, 0, 0.4), 0 9px 10px rgba(0, 0, 0, 0.2);
}
.person-name-wrong {
  position: absolute;
  top: 3%;
  left: 35%;
  font-size: 50px;
  color: #fff;
}
.loading {
  position: absolute;
  font-size: 45px;
  top: 5%;
  left: 5%;
  color: white !important;
}
.logo-home {
  position: absolute;
  color: yellow;
  font-size: 28px;
  padding: 28px;
}
/* films */
.box-container-row {
  display: flex;
  overflow: overlay;
}
.box-container {
  text-align: center;
  padding-top: 10px;
  height: 180px;
  width: 180px;
  min-width: 180px;
  margin: 10px 30px;
  border-radius: 10px;
  color: white;
  opacity: 0.7;
  background-color: rgb(22, 21, 21);
}
.box-container:hover {
  transition: transform 200ms;
  transform: scale(1.02);
}
.box-container > .box-head {
  color: #fff;
  height: 45px;
}
.box-container > .box-content {
  margin-top: 10px;
}
.box-container > .box-content div {
  align-items: center;
  height: 40px;
  justify-content: center;
  display: flex;
}
.box-container > .box-content div p {
  width: 50%;
  text-align: left !important;
}
.box-container > .box-content div span {
  color: yellow;
  width: 30%;
  margin: 0px 8px;
}

@media only screen and (max-width: 600px) {
  .person {
    background-image: url(/Images/phone.jpg) !important;
  }
}
