.person {
  margin-top: -20px;
  min-height: 100vh;
}
.background-image {
  background-repeat: no-repeat;
  background-attachment: contain;
  background-size: 100% 100%;
}
.person h1 {
  color: #ecd014;
  margin-left: 30px;
}
.person-name {
  text-align: center;
  font-size: 30px;
}
.person-name-wrong {
  position: absolute;
  top: 3%;
  left: 35%;
  font-size: 50px;
  color: #fff;
}
.loading {
  position: absolute;
  font-size: 45px;
  top: 5%;
  left: 5%;
  color: white !important;
}
/* films */
.films-container {
  display: flex;
  overflow: overlay;
}
.film-box {
  text-align: center;
  padding-top: 10px;
  height: 180px;
  width: 180px;
  min-width: 180px;
  margin: 10px 30px;
  border-radius: 10px;
  color: white;
  opacity: 0.7;
  background-color: rgb(22, 21, 21);
}
.film-box:hover {
  transition: transform 200ms;
  /* transition-delay: 200ms; */
  transform: scale(1.02);
}
.film-box > .head {
  color: #fff;
  height: 45px;
}
.film-box > .content {
  margin-top: 10px;
}
.film-box > .content div {
  align-items: center;
  height: 40px;
  justify-content: center;
  display: flex;
}
.film-box > .content div p {
  width: 50%;
  text-align: left !important;
}
.film-box > .content div span {
  color: yellow;
  width: 30%;
  margin: 0px 8px;
}
